In [26]:
# Adding two numbers.
num1=input("Input first number>>")
num2=input("Input second number>>")

num1=int(num1)
num2=int(num2)
result=num1+num2

print(num1,'+',num2,'=',result)

Input first number>>23
Input second number>>34
23 + 34 = 57

In [2]:
# Sub two numbers.
num1=input("Input first number>>")
num2=input("Input second number>>")

num1=int(num1)
num2=int(num2)
result=num1-num2

print(num1,'-',num2,'=',result)

Input first number>>1
Input second number>>5
1 - 5 = -4

In [3]:
##age universe.

age_universe_year=13000000000

age_universe_sec=age_universe_year*365*24*60*60

print(age_universe_sec)

409968000000000000

In [4]:
##bool

is_employed=True ##or False

type(is_employed)

bool

In [5]:
## string

is_employed="false" ## "" or ''

type(is_employed)

str

In [9]:
##section 2 day 1 no 9:
age,weight=23,105.7

type(age)

int

In [10]:
type(weight)

float

In [11]:
age,sex=(21,"Male")

In [12]:
age

21

In [13]:
sex

'Male'

In [14]:
age==21

True

In [15]:
age=21+4

In [16]:
age

25

In [17]:
## swap two variables:

value_1=45
value_2=34

temp=value_1
value_1=value_2
value_2=temp

In [18]:
value_1

34

In [19]:
value_2

45

In [20]:
##addition between int and float:

weight_1,weight_2=25,25.5

weight=weight_1+weight_2

type(weight)

float

In [21]:
##string addition:

weight_1=input()
weight_2=input()

25
25.5

In [22]:
weight=weight_1+weight_2

In [23]:
weight

'2525.5'

In [24]:
type(weight)

str

In [25]:
weight=int(weight_1)+int(weight_2)

ValueError: invalid literal for int() with base 10: '25.5'

In [26]:
weight=float(weight_1)+float(weight_2)

In [27]:
weight

50.5

In [30]:
##c=a+b

a=float(input())
b=float(input())

c=a+b
c

14.5
12.6

27.1

In [31]:
##Division:

distance=100
fuel=5

avg_consumption=distance/fuel
avg_consumption

20.0

In [32]:
##Multiplication:

avg_consumption=20
fuel=5

distance=avg_consumption*fuel

distance

100

In [33]:
## Modulo division:

dividend=31
divisor=10

remainder=dividend%divisor

remainder

1

In [34]:
## Floor division:

dividend=31
divisor=10

quotient=dividend//divisor ##quotient = int(dividend)/int(divisor)

quotient

3

In [35]:
## Exponentiation:

count=10

In [36]:
count**2 ## count**2 = count^2

100

In [37]:
count**4

10000

In [40]:
## Even or Odd number:

count=int(input())

if count%2==0:
    print(count,"is even number")
    
else:
    print(count,"is odd number")

5
5 is odd number

In [41]:
## BMI:

weight=float(input())#kilos
height=float(input())#meters

BMI=weight/height**2

print(BMI)

45
1.2
31.25

In [2]:
##for loop:

numbers=range(10)

for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [10]:
## 1+2+3+4+5+----------+N:

n=int(input("Enter the value of N>>>"))
s=0
for i in range(1,n+1):
    s+=i
    
print(s)

Enter the value of N>>>15
120

In [15]:
##1+2+3+4+----------+N using while loop:

n=int(input("Enter the value of N:"))
s=0
i=1

while i <= n :
    s+=i
    i=i+1

print(s)

Enter the value of N:15
120

In [ ]:
## 10 9 8 7 6 ------- using for loop

In [19]:
numbers=range(10,0,-1)

In [20]:
for number in numbers:
    print(number)

10
9
8
7
6
5
4
3
2
1

In [22]:
for number in numbers:
    print(number,end="")

10987654321

In [23]:
for number in numbers:
    print(number,end=" ")

10 9 8 7 6 5 4 3 2 1

In [1]:
## triangle made of numbers>>

n=int(input("Input range>"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Input range>9
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [2]:
## String>>

name="Sawmik Kumar Paul"

type(name)

str

In [3]:
name_1='one of it's kind'

name_1

SyntaxError: invalid syntax (<ipython-input-3-392462ac8173>, line 1)

In [4]:
name_1='one of it\'s kind'

name_1

"one of it's kind"

In [7]:
name_1[5]

'f'

In [8]:
name_1.find("kind") # name_1[12]='k'

12

In [9]:
name_1.split()

['one', 'of', "it's", 'kind']

In [10]:
first,second,third,fourth = name_1.split()

In [11]:
third

"it's"

In [12]:
name_2="one,only one"

name_2.split(",")

['one', 'only one']

In [13]:
name_3=" Sawmik "#"<space>Sawmik<space>"

name_3.strip()

'Sawmik'

In [14]:
name_3.upper()

' SAWMIK '

In [16]:
name_c="Sawmik Kumar Paul"

name_c=name_c.upper()

name_c

'SAWMIK KUMAR PAUL'

In [17]:
name_c.title()

'Sawmik Kumar Paul'

In [19]:
name_4="Good"

name_4.swapcase()

'gOOD'

In [20]:
len(name_c)

17

In [22]:
## Bank interest>>

def calculate_interest (balance,interest,days):

    interest_amount = balance*(interest/100)*(days/365)

    return interest_amount

In [23]:
calculate_interest(1000,4,100)

10.95890410958904

In [26]:
##Average>>

def avg_grade (*grades):
    i=0
    sum=0.0
    
    for grade in grades:
        sum+=grade
        i=i+1
        
    avg=sum/i
    
    return avg

In [27]:
avg=avg_grade(3.5,89.2,45.6,59.4)

avg

49.425000000000004

In [28]:
## Absolute value>>

num=-98

abs(num)

98

In [32]:
##max and min>>

n=range(30,100)

In [33]:
max(n)

99

In [34]:
min(n)

30

In [35]:
##grades.

grades=[]
sum=0

while True:
    grade=input("Enter grades>>")
    
    if grade == "e":
        break
    else:
        grade=float(grade)
        grades.append(grade)
        
print(grades)

Enter grades>>23
Enter grades>>45
Enter grades>>98
Enter grades>>85
Enter grades>>47
Enter grades>>e
[23.0, 45.0, 98.0, 85.0, 47.0]

In [12]:
## Counting vowels>>

sentence=input("Enter sentence>>")
count=0

vowels=["a","e","i","o","u"]

sentence=list(sentence)

Enter sentence>>good for nothing

In [13]:
sentence

['g',
 'o',
 'o',
 'd',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'n',
 'o',
 't',
 'h',
 'i',
 'n',
 'g']

In [14]:
for letter in sentence:
    if letter in vowels:
        count=count+1

In [15]:
count

5

In [16]:
## List merging>>

odd_1=[1,3,5]
odd_2=[7,9,11]

odd_1.extend(odd_2)

odd_1

[1, 3, 5, 7, 9, 11]

In [17]:
##using pop>>

n=[1,3,5,7,9]
n.pop(2)#n[2]=5
n

[1, 3, 7, 9]

In [18]:
n=[1,3,5,7,9]
n.pop()#the last num will be missing
n

[1, 3, 5, 7]

In [20]:
##using remove>>
n=[1,3,5,7,9]
n.remove(9)#will remove the value 9 but not 9th
n

[1, 3, 5, 7]

In [21]:
##using clear>>

n=[1,3,5,7,9]
n.clear()#clear everything
n

[]

In [22]:
##using insert>>

n=[1,3,5,7,9]
n.insert(3,8)#means (3+1)th position will add value 8
n

[1, 3, 5, 8, 7, 9]

In [24]:
##using pop again>>

n=[1,3,5,7,9]
n[3]=6

n

[1, 3, 5, 6, 9]

In [25]:
n.pop()#last num

9

In [26]:
n.pop(2)#(2+1)th num

5

In [27]:
##numeric or not>>

choice="1"

choice.isnumeric()

True

In [29]:
## using sort>>

n1=[1,3,5,7]
n2=[2,4,6,8]

n=n1+n2

n

[1, 3, 5, 7, 2, 4, 6, 8]

In [31]:
n.sort()
n

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
numbers=[1,3,5,7,9,11,13,15,17]

In [2]:
numbers[0:5]

[1, 3, 5, 7, 9]

In [3]:
numbers[5:]

[11, 13, 15, 17]

In [1]:
##Dictionary:

grades={ "Math"     : 3.5,
         "Phisics"  :4.0,
         "Chemistry":3.8,
         "English"  :3.7}

grades

{'Math': 3.5, 'Phisics': 4.0, 'Chemistry': 3.8, 'English': 3.7}

In [2]:
type(grades)

dict

In [3]:
grades["Biology"]=3.2

In [4]:
grades

{'Math': 3.5, 'Phisics': 4.0, 'Chemistry': 3.8, 'English': 3.7, 'Biology': 3.2}

In [5]:
grades.get("English")

3.7

In [7]:
print(grades.get("Zoology"))

None

In [10]:
##counting vowels>>

sentence=input("Enter the sentence>>")
vowels=['a','e','i','o','u']

vowel_count={}

for i in list(sentence):
    if i in vowels:
        if vowel_count.get(i)==None:
            vowel_count[i]=1
        
        else:
             vowel_count[i]=vowel_count[i]+1

Enter the sentence>>very good

In [11]:
vowel_count

{'e': 1, 'o': 2}

In [12]:
## Dictionary part 2>>

grades={ "Math"     : 3.5,
         "Phisics"  :4.0,
         "Chemistry":3.8,
         "English"  :3.7}

for key in grades:
    print(key,grades[key])

Math 3.5
Phisics 4.0
Chemistry 3.8
English 3.7

In [13]:
keys=grades.keys()

In [14]:
keys

dict_keys(['Math', 'Phisics', 'Chemistry', 'English'])

In [15]:
## update>>

science_grades={"Math":4,"Physics":3.8,"Chemistry":3.6}
arts_grades={"Math":3.9,"Drama":2.8,"English":3.5,"Art":2.5}

science_grades.update(arts_grades)

In [16]:
science_grades

{'Math': 3.9,
 'Physics': 3.8,
 'Chemistry': 3.6,
 'Drama': 2.8,
 'English': 3.5,
 'Art': 2.5}

In [17]:
science_grades.pop("English")

science_grades

{'Math': 3.9, 'Physics': 3.8, 'Chemistry': 3.6, 'Drama': 2.8, 'Art': 2.5}

In [18]:
##touple>>

touple=("qwer",)

type(touple)

tuple

In [19]:
##count>>

n=(4,5,7,3,4,7,8,5,8,5)

n.count(7)

2

In [20]:
n.index(7)

2

In [21]:
min(n)

3

In [22]:
max(n)

8

In [24]:
def n_primary (n):
    if 11>=n>=5:
        return True
    else:
        return False

In [25]:
n_primary=filter(n_primary,n)

In [26]:
n_primary

In [1]:
##set>>

weather={"rainy","rainy","sunny","snowy","rainy","sunny","snowy"}

weather

{'rainy', 'snowy', 'sunny'}

In [2]:
type(weather)

set

In [3]:
weather.add("stormy")

In [4]:
weather

{'rainy', 'snowy', 'stormy', 'sunny'}

In [5]:
weather.remove("stormy")

In [6]:
weather

{'rainy', 'snowy', 'sunny'}

In [8]:
odd_1={1,3,9,13}
odd_2={5,7,9,11,15}

odd=odd_1.union(odd_2)#A U B

odd

{1, 3, 5, 7, 9, 11, 13, 15}

In [9]:
odd=odd_1.intersection(odd_2)

odd

{9}

In [10]:
odd=odd_1.symmetric_difference(odd_2)
odd #A-B

{1, 3, 5, 7, 11, 13, 15}

In [11]:
odd.discard(1)

In [12]:
odd

{3, 5, 7, 11, 13, 15}

In [6]:
## class account:>>

class Account:
    def __init__ (self,number):
        self.account_number = number

In [9]:
acc = Account(1001)

In [10]:
type(acc)

__main__.Account

In [11]:
class Account:
    
    percentage = 8
    
    def __init__ (self,number):
        self.account_number = number

In [12]:
acc = Account(1001)

In [13]:
acc.percentage

8

In [14]:
acc.account_number

1001

In [15]:
acc_2 = Account(1002)

In [16]:
acc_2.percentage

8

In [17]:
## class account>>

class Account:
    def __init__ ( self,number ):
        self.number = number
        
    def account_type(self) :
        if str(self.number).startswith("1"):
            self.type = "current"
            
        elif str(self.number).startswith("2"):
            self.type = "saving"
            
    def interest_rate(self):
        
        self.account_type()
        if self.type == "current" :
            self.interest = 0
        elif self.type == "saving" :
            self.interest = 5
            
        return self.interest

In [18]:
acc = Account(2001)# a[0]=2 and so self.type == "saving"
acc.interest_rate()

5

In [25]:
class Account:
    
    def __init__ (self,number,name,balance) :
        self.account_number  = number
        self.account_name    = name
        self.account_balance = balance

In [26]:
acc = Account(1001, "Sawmik Paul", 100)

In [27]:
print(acc)

<__main__.Account object at 0x0000018EEDABBB38>

In [29]:
class Account:
    
    def __init__ (self,number,name,balance) :
        self.account_number  = number
        self.account_name    = name
        self.account_balance = balance
    
    def __str__(self) :
        return "Account " + str(self.account_name) + "'s balance is " + str(self.account_balance)

In [30]:
acc = Account(1001, "Sawmik Paul", 100)
print(acc)

Account Sawmik Paul's balance is 100

In [31]:
##string formating>>

text="He is {} years old"
text_f=text.format(2)
print(text_f)

He is 2 years old

In [34]:
try:
    1/0
    
except:
    print("something went wrong")

something went wrong

In [1]:
##Date-time->

from datetime import date

In [2]:
today = date (2020, 6, 10) #(year, month, date)

In [3]:
today

datetime.date(2020, 6, 10)

In [4]:
t=date.today()

In [5]:
t

datetime.date(2020, 6, 10)

In [6]:
t.year

2020

In [7]:
t.day

10

In [8]:
t=t.replace(year = 2021)

In [9]:
t

datetime.date(2021, 6, 10)

In [10]:
t.weekday() # mon-1 ; tues-2 ; wed-3 ; ---------

3

In [4]:
## date-time ->

from datetime import date

today = date(2020, 6, 10)

print (today.strftime("%d-%b-%y"))

10-Jun-20

In [5]:
#timedelta->

from datetime import date, timedelta

today = date(2020, 6, 11)

tomorrow = today + timedelta(days = 1)

In [6]:
tomorrow

datetime.date(2020, 6, 12)

In [7]:
tomorrow = today + timedelta(weeks = 1)

tomorrow-today

datetime.timedelta(days=7)

In [10]:
print((today - timedelta(days = 2)).day)

9

In [11]:
##age->

from datetime import date, timedelta
today = date.today()
birthday = date(2001, 11, 12)
birthday = birthday.replace(year = today.year)

In [12]:
birthday

datetime.date(2020, 6, 11)

In [13]:
birthday = birthday.replace(year = today.year+1)

In [14]:
birthday

datetime.date(2021, 6, 11)

In [21]:
##time->

import time

datetime.timedelta(days=14)

time.time()

NameError: name 'datetime' is not defined

In [22]:
from datetime import datetime

d = datetime(2020, 6, 11, 19, 45, 34, 456) #year , month , day , hour , min , sec , microsec
d

datetime.datetime(2020, 6, 11, 19, 45, 34, 456)

In [23]:
d.minute

45

In [24]:
d = datetime.now()

In [25]:
d

datetime.datetime(2020, 6, 12, 18, 21, 44, 105152)

In [26]:
d.strftime("%b-%d-%Y")

'Jun-12-2020'

In [15]:
## File read->

f = open ("read_file_1.txt","r")

In [16]:
f.read()

"kabir:What's that thing ?\nAlam:It's nothing.Just a bird."

In [17]:
print(f.read())

In [18]:
data = f.read()

In [12]:
fw = open ("write_file_1.txt","a")

In [19]:
fw.write(data)

0

In [22]:
fw.close()

In [23]:
## Math->

from math import trunc,floor
i = 3.5
trunc(i)

3

In [24]:
i=-3.5
floor(i)

-4

In [25]:
i=4.5
floor(i)

4

In [26]:
i=-4.5
trunc(i)

-4

In [27]:
from math import ceil

i = 4.5

ceil(i)

5

In [28]:
i = -2.5

ceil(i)

-2

In [30]:
from math import exp

x = 1

exp(x)

2.718281828459045

In [31]:
x =10
exp(x)

22026.465794806718

In [32]:
2**5

32

In [33]:
pow(2,5)

32

In [34]:
from math import sqrt

sqrt(4)

2.0

In [35]:
from math import log

log(10)

2.302585092994046

In [36]:
log(10,100) # log(a,b)=log b ^a

0.5

In [37]:
from math import pi,e

pi

3.141592653589793

In [38]:
e

2.718281828459045

In [14]:
from math import sin, radians

sin(90) # 90->is in radians

0.8939966636005579

In [15]:
sin(radians(90))

1.0

In [24]:
l = [2,5,9,7,8,4]

sum(l)

35

In [25]:
from math import fsum

fsum(l)

35.0

In [7]:
from math import factorial

factorial(5)

120

In [8]:
## sum with numpy ->

import time

sum = 0

start_time = time.time()

for num in range(100000000):
    sum = sum + num
    
print("sum = ",sum)

end_time = time.time()

python_time = end_time - start_time

print("time taken = ",python_time)

sum =  4999999950000000
time taken =  7.635535717010498

In [17]:
## with numpy->

import numpy as np
import time

sum = 0

start_time = time.time()

numbers = np.arange(100000)

sum = np.sum(numbers,dtype = np.uint64)
print("sum = ", sum)

end_time = time.time()

numpy_time = end_time - start_time
factor = python_time / numpy_time

print("time taken = ", (end_time - start_time))

print("numpy is ",factor , "times faster than standard python")

sum =  4999950000
time taken =  0.000997304916381836
numpy is  7656.169734640211 times faster than standard python

In [27]:
import numpy as np

a = np.array([1,2,3,4,5,6,7,8,9,10])

a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [28]:
##2d array->

b=np.array([[1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10],
            [11,12,13,14,15,16,17,18,19,20]])

b

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]])

In [29]:
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12])

In [30]:
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [31]:
a.shape

(12,)

In [32]:
a.reshape(4,3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [33]:
a = [1,2,3]
b = [4,5,6]

c =a+b

c

[1, 2, 3, 4, 5, 6]

In [34]:
a = np.array([1,2,3])
b = np.array([4,5,6])

c =a+b
c

array([5, 7, 9])

In [4]:
## array->
import numpy as np

a = np.array([[1,2,3],
             [4,5,6]])

a

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
np.sum(a,axis = 1)#1+2+3 = 6 and 4+5+6 = 15

array([ 6, 15])

In [7]:
np.sum(a,axis = 0)

array([5, 7, 9])

In [8]:
np.mean(a,axis = 0)

array([2.5, 3.5, 4.5])

In [9]:
np.min(a,axis = 0)

array([1, 2, 3])

In [10]:
np.max(a,axis = 0)

array([4, 5, 6])

In [11]:
a[0,2]

3

In [12]:
a[1,1]

5

In [13]:
a = [1,2,3,4,5,6,7,8,9]

In [14]:
a[3:8]

[4, 5, 6, 7, 8]

In [17]:
a = np.array([[1,2,3,4],
       [5,6,7,8],
       [9,10,11,12],
       [13,14,15,16]])

In [18]:
a[1:3, 1:3]

array([[ 6,  7],
       [10, 11]])

In [19]:
a[1:3, 1:4]

array([[ 6,  7,  8],
       [10, 11, 12]])

In [28]:
## append array ->

import numpy as np

numbers = np.arange(1,21)
numbers = numbers.reshape(4,5)
numbers

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [29]:
extras = np.array([21,22,23,24,25])

In [30]:
np.append(numbers,[extras],axis=0)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [32]:
j = extras.reshape(5,-1)

In [24]:
j

array([[21],
       [22],
       [23],
       [24],
       [25]])

In [33]:
extras = np.array([21,22,23,24])

In [34]:
j = extras.reshape(4,-1)

j

array([[21],
       [22],
       [23],
       [24]])

In [35]:
np.append(numbers,extras.reshape(4,-1),axis=1)

array([[ 1,  2,  3,  4,  5, 21],
       [ 6,  7,  8,  9, 10, 22],
       [11, 12, 13, 14, 15, 23],
       [16, 17, 18, 19, 20, 24]])

In [37]:
 a = np.array([[1,2,3,4],
               [5,6,7,8],
               [9,10,11,12],
               [13,14,15,16]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [39]:
b = extras

b

array([21, 22, 23, 24])

In [41]:
np.insert(a,2,b,axis=0)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [21, 22, 23, 24],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [1]:
## Delete rows of array ->

import numpy as np

a = np.arange(1,21)
a = a.reshape(4,5)
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [2]:
a_new = np.delete(a,2,axis=0)

a_new

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [16, 17, 18, 19, 20]])

In [3]:
## Delete colomn->
a_new2 = np.delete(a,2,axis=1)#2->3rd colomn

a_new2

array([[ 1,  2,  4,  5],
       [ 6,  7,  9, 10],
       [11, 12, 14, 15],
       [16, 17, 19, 20]])